*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $font-secondary;
}

.container {
    max-width: 1400px;
    margin: 70px auto 0;
}

.wrapper {
    padding: 0 15px;
}

.page-title {
    font-family: $font-primary;
    font-size: 40px;
    color: $color-secondary;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}

.page-title:before,
.page-title:after {
    background-color: $color-primary;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.page-title:before {
    right: 0.5em;
    margin-left: -50%;
}

.page-title:after {
    left: 0.5em;
    margin-right: -50%;
}

h2 {
    font-family: $font-secondary;
    font-size: 30px;
    margin-bottom: 15px;
    color: $color-secondary;
}

p {
    font-size: 15px;
    font-family: $font-secondary;
    margin-bottom: 15px;
}