// Colors
$color-primary: #ffa502;
$color-secondary: #2f3640;
$color-tertiary: #2d3436;
$color-gray-1: #636e72;
$color-gray-2: #b2bec3;
$color-gray-3: #dfe6e9;
$color-black: #000000;
$color-white: #ffffff;

// Fonts
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// MEDIA QUERY BREAKPOINTS
$bp-400: 25em; // 400px
$bp-500: 31.25em; // 500px
$bp-600: 37.5em; // 600px
$bp-700: 43.75em; // 700px
$bp-900: 56.25em; // 900px
$bp-1200: 75em; // 1200px
$bp-1600: 100em; // 1200px