// Colors
$color-primary: #fdcb6e;
$color-secondary: #2d3436;
$color-gray-1: #636e72;
$color-gray-2: #b2bec3;
$color-gray-3: #dfe6e9;
$color-black: #000000;
$color-white: #ffffff;

// Fonts
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;