.page-technical-description {
    .container {
        margin-right: 250px;
    }

    .technical-description-image {
        img {
            height: 400px;
            width: auto;
        }
    }
}